<div id="d3-word-cloud"></div>

{% include _scripts/wordcloud.html %}

<script>
var fill = d3.scale.category20();
var width = 630;
var height = 960;

var words = [
    {% for tag in site.tags %}
    {% assign tagName = tag | first | downcase %} 
    {% assign postsCount = tag | last | size %}
        {% if postsCount < 2 %}
            {% continue %}
        {% endif %}
    {% assign tag_url_encode = tag[0] | url_encode | replace: '+', '%20' %}
    { 
        "text": "{{ tagName }}",
        "count": {{ postsCount }},
        "url": "{{ '/tag/#/' | relative_url | append: tag_url_encode }}" 
    },
    {% endfor %}
]

for (var i = 0; i < words.length; i++) {
 words[i].size = words[i].count;
}


d3.layout.cloud()
  .size([width, height])
  .words(words)
  .padding(5)
  .spiral("rectangular")
  .font("Impact")
  //   .rotate(function() { return (~~(Math.random() * 6) - 3) * 30; })  // default
  //   .rotate(function() { return ~~ (Math.random() * 2) * 90; })
  .fontSize(function(d) { return Math.sqrt( d.size ) * 8 ; })  
  //   .fontSize(function(d) { return Math.log2( 1 + d.size); })  
  //   .fontSize(function(d) { return Math.sqrt(d.size); })  // default
  //   .fontSize(function(d) { return d.size;})
  .on("end", draw)
  .start();

function draw(words) {
    d3.select("#d3-word-cloud")
      .append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
      .attr("transform", "translate("+ width/2 +","+ height/2 +")")
      .selectAll("text")
      .data(words)
      .enter()
      .append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .style("cursor", "pointer")
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")"; 
        })
        .text(function(d) { return d.text; })
        .on("click", function (d, i){
            window.open(d.url, "_blank");
        });
}

</script>

